<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farmzop.application" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.farmzop.application.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocalitySelectionActivity"
            android:label="@string/activity_sel_loc"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FAQsActivity"
            android:label="@string/activity_help"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CartActivity"
            android:label="@string/activity_cart"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StoreLocatorActivity"
            android:label="@string/title_activity_store_locator"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StoreListActivity"
            android:label="@string/title_activity_store_locator_list"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NearestStoreActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NonFZProductDetailsActivity"
            android:label="@string/title_activity_non_fzproduct_details" >
        </activity>
        <activity
            android:name=".AboutFZ"
            android:label="@string/title_activity_about_fz" >
        </activity>
        <activity
            android:name=".CheckoutActivity"
            android:label="@string/title_activity_checkout" >
        </activity>

    </application>

</manifest>
